$navy-color: #0A192F;
$orange-color: #E8740A;
$text-color: #fff;
$font: 'Quantico', sans-serif;
$font-size: 16px;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

// Integrator Project Palette
$color-one: #D75E24;
$color-two: #E68E0C;
$color-three: #769E33;
$color-four: #009A88;
$color-five: #5FB9D3;
$color-six: #0192D0;

// Thunder Focus Palette
$palette-one: #000814;
$palette-two: #001d3d;
$palette-three: #003566;
$palette-four: #ffd60a;
$palette-five: #ffc300;