@import '../../resets/resets';
@import '../../resets/variables';

@mixin gridColumn($columns) {    
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

// Grid Container
.grid-container {
    display: grid;
    height: 150vh;
    width: 100vw;
    @include gridColumn(4);
    grid-template-rows: .2fr 2fr .3fr;
    font-family: $font;
    font-size: 16px;
    text-align: center; 
}    

.loader-spinner {
    margin-top: 100%;
    margin-left: 200%;
}

